@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gradient {
    background-color: #fafafa;
    background-image: url('./assets/wave.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  .home-gradient {
    background: hsla(205, 46%, 10%, 1);

    background: linear-gradient(
      125deg,
      hsla(205, 46%, 10%, 1) 0%,
      rgb(24, 26, 27) 50%,
      rgb(0, 0, 0) 100%
    );

    background: -moz-linear-gradient(
      125deg,
      hsla(205, 46%, 10%, 1) 0%,
      rgb(31, 34, 34) 50%,
      rgb(0, 0, 0) 100%
    );

    background: -webkit-linear-gradient(
      125deg,
      hsla(205, 46%, 10%, 1) 0%,
      rgb(39, 44, 45) 50%,
      rgb(0, 0, 0) 100%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0E1C26", endColorstr="#2A454B", GradientType=1 );
  }
  .container {
    width: 150px;
    height: 150px;
    display: grid;
    overflow: hidden;
    margin: 0;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
  }

  .item {
    background: rgb(0, 0, 0);
    border-radius: 100%;
  }
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
  }

  .button {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
  }
}
